<!--************************************
					Inner Banner Start
			*************************************-->
			<div class="sj-innerbanner">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<div class="sj-innerbannercontent">
								<h1>Aims and Scope</h1>
								<ol class="sj-breadcrumb">
									<li><a [routerLink]="['']">Home</a></li>
									<li><a [routerLink]="['aims']">Aims & Scope</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Inner Banner End
			*************************************-->
			<!--************************************
					Main Start
			*************************************-->
			<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
				<div id="sj-twocolumns" class="sj-twocolumns">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-8 col-lg-9">
								<div id="sj-content" class="sj-content">
									<div class="sj-aboutus">
										<figure class="sj-aboutusimg"><img src="../../assets/images/aboutus-img.jpg" alt="image description"></figure>
										<div class="sj-introduction sj-sectioninnerspace">
											<span>Aims & Scope</span>
											<h4>A Brief Introduction</h4>
											<div class="sj-description">
												<p>India Innovations: Journal of Indian Start-ups is a student-run initiative that aims to delve into the start-up ecosystem in India. The journal aims to capture the success(and failure) stories of Indian Start-ups, combined with interviews from Industry Experts, case studies and data analysis and policy analysis to facilitate a comprehensive understanding of various elements that are necessary to create a strong Start-up ecosystem and spread awareness regarding the same. The journal emanates knowledge about the different aspects affecting the start-ups with a broader view.</p>
												<p>The journal is meant for researchers, students, and readers interested in the current issues and developments of the Indian start-ups. The journal will be published electronically. It will be easily accessible and free of charge, widely across the region. We also welcome views on recent business-relevant books, news, announcements, presentations of current research, and significant projects.</p>
												</div>
										</div>
										<div class="sj-ourhistory sj-sectioninnerspace">
											<div class="sj-borderheading">
												<h3>Our Proud History</h3>
											</div>
											<div class="sj-description">
												<p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsame quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ipsam voluptatem quia voluptasit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
												<table class="sj-tableourhistory table-bordered">
												<thead>
													<tr>
														<th>Year</th>
														<th>Impact Factor</th>
														<th>Leading Rate</th>
													</tr>
												</thead>
												<tbody>
													<tr>

														<td>2017</td>
														<td>2.125</td>
														<td>39 out of 157 </td>
													</tr>
													<tr>
														<td>2016</td>
														<td>2.019</td>
														<td>41 out of 153 </td>
													</tr>
													<tr>
														<td>2015</td>
														<td>2.039</td>
														<td>38 out of 145</td>
													</tr>
													<tr>
														<td>2014</td>
														<td>2.296</td>
														<td>25 out of 136</td>
													</tr>
													<tr>
														<td>2013</td>
														<td>1.993</td>
														<td>33 out of 131</td>
													</tr>
													<tr>
														<td>2012</td>
														<td>2.063</td>
														<td>27 out of 136</td>
													</tr>
													<tr>
														<td>2011</td>
														<td>1.878</td>
														<td>29 out of 114</td>
													</tr>
													<tr>
														<td>2010</td>
														<td>1.230</td>
														<td>56 out of 95</td>
													</tr>
												</tbody>
											</table>
												<p>Voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipiscite velit, sed quia non numquam eius modi tempora incidunt.</p>
											</div>

										</div>
										<div class="sj-ouraims sj-sectioninnerspace">
											<div class="sj-borderheading">
												<h3>Our Aim</h3>
											</div>
											<div class="sj-ouraim">
												<div class="sj-description">
													<figure class="sj-placeholder sj-alignleft">
														<iframe src="https://www.youtube.com/embed/iC9CpnSj-MU?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
														<img src="../../assets/images/placeholder-img.jpg" alt="image description">
													</figure>
													<p class="sj-firstletter">A</p><p>dipisicing elit sed do eiusmod tempor incididunt utnalo labore etaium dolore magna aliqua enim ad minim veniam quis nosi trude exercitation ullamco laboris nisi ut aliquip ex eaeumodo consequat aute irure dolor enderit in voluptate velit esse cillum dolore eu fugiat aperspiciatis unde omnis iste natus.</p>
													<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum aperspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
													<p>Totam remas aperiama eaque ipsa quae ab illo inventore veritatis et quasi </p>
													<p>Adipisicing elit sed do eiusmod tempor incididunt ut labore etaium dolore magna aliqua enim ad minim veniam quis nostrude ercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor enderit in voluptate velit esse cepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum aperspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <app-aside></app-aside>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!--************************************
					Main End
			*************************************-->
