	<!--************************************
					Header Start
			*************************************-->
			<header id="sj-header" class="sj-header sj-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="sj-topbar">
								<ul class="sj-socialicons sj-socialiconssimple">
									<li class="sj-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
									<li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									<li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
                  <h1 class="heading">Indian Innovations:Journal of Indian Start-ups</h1>
								<div class="sj-languagelogin">
									<div class="sj-loginarea" *ngIf="!loggedin">
										<ul class="sj-loging">
											<li><a [routerLink]="['/login']" >Login</a></li>
											<li><a [routerLink]="['/register']">Register</a></li>
										</ul>
									</div>
									<div class="sj-userloginarea" *ngIf="loggedin">
										<a href="javascript:void(0);">
											<i class="fa fa-angle-down"></i>
											<img *ngIf="userdata.file !== undefined" [src]="imageToShow">
                      <img *ngIf="userdata.file === undefined" src="../../../assets/images/logo2.png">
											<div class="sj-loginusername">
												<h3>Hi, {{userdata?.firstName}}</h3>
												<span>{{userdata?.email}}</span>
											</div>
										</a>
										<nav class="sj-usernav">
											<ul>
												<li *ngIf="userdata?.role === 'admin'" ><a [routerLink]="['/releases']"><i class="lnr lnr-sync"></i><span>Releases</span></a></li>
                        <li ><a [routerLink]="['/submissions']"><i class="lnr lnr-layers"></i><span>Submissions</span></a></li>
												<li><a [routerLink]="['/settings']"><i class="lnr lnr-lock"></i><span>Account Settings</span></a></li>
												<li><a [routerLink]="['/logout']"><i class="lnr lnr-exit"></i><span>Logout</span></a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="sj-navigationarea">
								<strong class="sj-logo"><a [routerLink]="['']"><img src="../../../assets/images/logo1.png" alt="company logo here"></a></strong>
								<div class="sj-rightarea">
									<nav id="sj-nav" class="sj-nav navbar-expand-lg">
										<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
											<i class="lnr lnr-menu"></i>
										</button>
										<div class="collapse navbar-collapse sj-navigation" id="navbarNav">
											<ul>
												<li>
													<a [routerLink]="['/aims']">Aims & Scope</a>
												</li>
                        <li>
													<a [routerLink]="['/board']">Board</a>
												</li>
                        <li>
													<a [routerLink]="['/guidelines']">Guidelines</a>
												</li>
                        <li>
													<a [routerLink]="['/current']">Current</a>
												</li>
                        <li>
													<a [routerLink]="['/archives']">Archives</a>
												</li>
                        <li>
													<a [routerLink]="['/contact']">Contact</a>
												</li>
											</ul>
										</div>
									</nav>
										<a class="sj-btn sj-btnactive" *ngIf="userdata?.role === 'user'" [routerLink]="['submission']">Submit Your Article</a>
                  <a class="sj-btn sj-btnactive" *ngIf="userdata?.role === 'admin'" [routerLink]="['admin']">Dashboard</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--************************************
					Header End
			*************************************-->
