<aside id="sj-sidebar" class="sj-sidebar">
  <div class="sj-widget sj-widgetnoticeboard">
    <div class="sj-widgetheading">
      <h3>Notice Board</h3>
    </div>
    <div class="sj-widgetcontent">
      <ul>
        <li><a href="javascript:void(0);">Adipisicing elitaium sed dotas eiusm tempor incididunt utae labore etiate dolore magna aliqua enim.</a></li>
        <li><a href="javascript:void(0);">Labore etiat dolore magna aliquaen ad minim veniam.</a></li>
        <li><a href="javascript:void(0);">Duis aute irure dolor in reprehender</a></li>
      </ul>
    </div>
  </div>
</aside>
