  <app-current></app-current>
  <div class="container">
<div class="sj-introduction sj-sectioninnerspace" style="margin-top:25px;padding:20px;">
  <span>About Us</span>
  <div class="sj-description" style="margin-bottom: 20px;">
    <p>The Indian Innovations: Journal of Indian Start-ups is committed to publishing policy and business analysis related to start-ups. The journal encourages new ideas, creative approaches and analytical perspectives on areas such as:</p>
    <ul>
      <li>Entrepreneurship</li>
      <li>Business development</li>
      <li>Public policy on start-ups and entrepreneurship</li>
      <li>Leadership</li>
      <li>Sustainable Development</li>
    </ul>
    <p>Review Issues are published every month. These issues include widely read and widely cited collections of articles, interviews, case studies and data analysis in the field of start-ups, business, and public policy.</p>
  </div>
</div>
</div>
